main {
    min-height: 70svh;
}

.reminders-menu {
    margin: 30px 120px 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--black);

    .create-container {
        display: flex;
        column-gap: 26px;
    }
    .create-reminder {
        border: 1px solid var(--blue);
        border-radius: 25px;
        color: var(--blue);
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background: var(--blue);
            color: var(--white);
        }
        &:active {
            scale: 0.95;
        }
    }

    form {
        width: 250px;
    }
    .search-bar {
        width: 100%;
        height: 100%;
        display: flex;
        column-gap: 12px;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--black);
        border-radius: 20px;
        padding: 8px 16px;
        button {
            display: flex;
            align-items: center;
        }
        .vertical-line {
            width: 2px;
            height: calc(100% + 16px);
            background-color: var(--black);
        }

        .search-input {
            width: 100%;
            display: flex;
            position: relative;
            input {
                border: none;
                outline: none;
                background: none;
                text-decoration: none;
                width: 88%;
            }
            button[type="reset"] {
                position: absolute;
                top: 8px;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }
}



.sort-menu {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 0 0 20px 0;
    border-right: 2px solid var(--black);
    form{
        width: 100%;
        padding: 0 60px 0 0;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        select {
            outline: none;
            width: 100%;
            border: 2px solid var(--black);
            border-radius: 8px;
            padding: 6px 10px;
            appearance: none;
            background: url("../../img/Bird.svg") no-repeat right 12px center;
        }
    }

    hr {
        margin: 0 10px;
        background: var(--black);
    }

    .counter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 14px;

        span{
            color: var(--blue);
        }

         button {
             border: 1px solid var(--blue);
             border-radius: 8px;
             color: var(--blue);
             padding: 6px 16px;
             transition: all 0.3s ease-in-out;
             &:hover {
                 background: var(--blue);
                 color: var(--white);
             }
             &:active {
                 scale: 0.95;
             }
         }
    }
}

.main-content {
    display: flex;
    width: 100%;
    padding: 0 120px;

    .reminders-container{
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
        width: calc(100% - 300px);
        padding: 20px;

        .reminder {
            width: 300px;
            min-height: 180px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 2px solid var(--black);
            border-radius: 8px;
            padding: 8px 10px;

            .id {
                display: none;
            }

            .text, .dates {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
            }
            .dates {
                row-gap: 4px;
            }

            .buttons {
                display: flex;
                column-gap: 8px;
                justify-content: space-between;

                .update-button {
                    border: 1px solid var(--blue);
                    border-radius: 8px;
                    color: var(--blue);
                    padding: 6px 16px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        background: var(--blue);
                        color: var(--white);
                    }
                    &:active {
                        scale: 0.95;
                    }
                }

                .delete-button {
                    border: 1px solid var(--red);
                    border-radius: 8px;
                    color: var(--red);
                    padding: 6px 16px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        background: var(--red);
                        color: var(--white);
                    }
                    &:active {
                        scale: 0.95;
                    }
                }
            }
        }
    }
}