.reminders-preview {
  padding: 20px 80px 60px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  a {
    width: fit-content;
    padding: 4px 8px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    column-gap: 20px;
    transition: all 0.3s ease-in-out;

    &:hover, :active{
      background: #e0e0e0;
    }
  }

  img[alt="bird"] {
    rotate: -90deg;
    color: black;
  }

  button {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 16px 36px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f5f5f5;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #e0e0e0;
      scale: 1.05;
    }
  }
}

.reminders-container {
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
}

.reminder {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}