.item-page {
  min-height: 70svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 60px 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;

    .text-content {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding: 40px 0;

      img {
        height: 260px;
        width: auto;
      }

    }

    .info-content {
      width: 30%;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding: 40px 0;

      p {
          font-size: 1rem;
      }

      .reminder-customization {
        display: flex;
        justify-content: space-between;


        .cart-input {
          min-width: 100px;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
        }
      }
    }
  }

  .side-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 40px;

    .back-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      border-radius: 12px;
      border: 1px solid var(--grey);
      background: var(--white);
      color: var(--grey);
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: var(--grey);
        color: var(--white)
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}