.filter-menu{
  width: 100%;
  padding: 0 60px 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  select {
    outline: none;
    width: 100%;
    border: 2px solid var(--black);
    border-radius: 8px;
    padding: 6px 10px;
    appearance: none;
    background: url("Bird.svg") no-repeat right 12px center;
  }
}