.banner {
    display: flex;
    width: 820px;
    padding: 26px 22px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

    button {
        background: rgba(38, 194, 150, 1);
        border-radius: 30px;
        border: none;
        padding: 10px 44px;
        color: white;
        font-size: 0.7rem;
        font-family: 'Gilroy-Regular', sans-serif;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    button:hover {
        scale: 1.05;
    }

    .banner-text {
        display: flex;
        flex-direction: column;
    }
}
