:root {
    --white: #FFFFFF;
    --black: #222222;
    --grey: #73738D;
    --light-green: #E4F7F2;
    --dark-grey: #64646F33;
    --blue: #1943EF;
    --green: #26C296;

    --cont-padding: 80px;
}